/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.conteiner {
    width: 70%;
    margin: 0 auto;
}

main h1 {
    color: rgb(247, 0, 106);
}

section > p {
    color: white;
    padding: .6rem;
    font-size: .8rem;
    vertical-align: top;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

img.img {
    width: 4.4rem;
}

.cell {
    background-color: rgb(16, 13, 24);
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    box-shadow: 5px 5px 5px rgb(206,207, 205);
    width:calc((100% / 3) - 3rem - 5px);
}

.fl-left{
    float: left;
    margin-right: 1rem;
}

.name{
    font-weight: bold;
    font-size: 1rem;
}

.mail{
    color: rgb(0,187,249);
    text-decoration: underline;
}
